.conferences__item {
  margin: 15px 0;
  list-style-type: none;
}
.conferences__time {
  font-size: 11px;
  color: #757582;
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  float: left;
}
.conferences__preview {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: #5555ad;
  display: inline-block;
  width: 360px;
}
.conferences__preview:hover {
  color: #6767c1;
  text-decoration: underline;
}
.conferences__preview:visited {
  color: #7575a7;
}
