// layout
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main{
	background-color: #fff;
	padding-bottom: 60px;
	min-height: 1000px;
}

.common{
	background: #ebf0f2;
	font-family: @font-family;
}

.container{
	width: 990px;
	margin: 0 auto;
}

.row{
	overflow: hidden;
	position: relative; // for fixed position of search form in header

	// for bgc in aside when hqight is dinamic
	&__wrapper-bg{
		background-color: @sidebar__bgc;
		box-shadow: 
			@content__box-shadow--left,
			@content__box-shadow--right;
	}
}

.col{

	&-wide{
		width: @col-wide__width;
		float: left;
	}

	&-narrow{
		width: @col-narrow__width;
		float: left;
	}
}

.page-lead{
	margin: 30px 50px 40px 50px;
	overflow: hidden;
}


// typography

.link-dark-bg{
	color: @link-dark-bg__color;
	font-size: @link-dark-bg__fz;
	line-height: @link-dark-bg__lh;
	text-decoration: none;

	&:hover{
		color: #fff;
		text-decoration: underline;
	}
}

.hr{
	color: #cccccc;
	margin-top: 10px;
	margin-bottom: 20px;
}

.page-lead__hr{
	color: #cccccc;
	margin-top: 25px;
}

.h2-red{
	color: #a55b65;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}

.h2-black{
	color: #000;
	font-size: 20px;
	line-height: 15px;
	margin-bottom: 15px;

	&--workers{
		line-height: 21px;
		font-size: 16px;
		width: 100%;
	}
}

.h2-blue{
	color: #5993bb;
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.text{
	color: #393a42;
	font-weight: normal;
	font-size: 13px;
}

.text-dark-bg{
	color: #fff;
	font-weight: normal;
	font-size: 11px;
	line-height: 21px;

	&--bold{
		font-weight: bold;
	}
}


// elements

.pagination{
	text-align: center;

	&__item{
		display: inline-block;
	}

	&__link{
		display: inline-block;
		text-decoration: none;
		width: 20px;
		height: 20px;
		background-color: #f6f8f9;
		color: #333333;
		font-size: 10px;
		line-height: 20px;

		&--arrow{
			width: 30px;
		}
		
		&--active{
			color: #af4077;
		}		

		&:hover{
			background-color: #af4077;
			color: #fff;
		}
	}
}
