.profile{

	&__welcome{
		font-size: 12px;
		line-height: 20px;
		font-family: @font-family-orgname--big;
		font-weight: bold;
		display: block;

		&--centered{
			text-align: center;
		}		
	}

	&__welcome2{
		font-size: 12px;
		line-height: 20px;
		display: block;
		margin-bottom: 20px;
	}

	&__login{
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 15px;
		display: block;
	}	

	&__login-lead{
		font-size: 12px;
		line-height: 20px;
		font-weight: bold;				
	}
}